.newsLetter{
    background: linear-gradient(180deg, rgb(255 226 226), #e1ffea22 60%);
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
}
.newsLetter h1{
    font-size: 50px;
    font-family: sans-serif;
    margin: 10px;
    color: rgb(255 114 53);
}
.newsLetter p{
    margin: 5px;
}
.newsLetter .email-input{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.newsLetter .email-input input{
    outline: none;
    width: 450px;
    border: 1px solid black;
    border-radius: 30px;
    height: 45px;
    margin: 10px;
    padding-left: 15px;
}
.newsLetter .email-input button{
    width: 170px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(255 114 53);
    color: white;
    cursor: pointer;
    border: none;
}

@media(max-width:800px)
{
    .newsLetter{
        margin: 40px;
    }   
    .newsLetter h1{
        font-size: 40px;
    }
    .newsLetter .email-input input{
        width: 350px;
        height: 42px;
    }
    .newsLetter .email-input button{
        width: 150px;
        height: 42px;
    }
}
@media(max-width:640px)
{
    .newsLetter{
        margin: 30px;
    }   
    .newsLetter h1{
        font-size: 35px;
    }
    .email-input{
        flex-direction: column;
    }
    .newsLetter .email-input input{
        width: 300px;
        height: 40px;
    }
    .newsLetter .email-input button{
        width: 130px;
        height: 40px;
    }
}
@media(max-width:520px)
{
    .newsLetter{
        margin: 30px;
    }   
    .newsLetter h1{
        font-size: 30px;
    }
    .email-input{
        flex-direction: column;
    }
    .newsLetter .email-input input{
        width: 200px;
        height: 35px;
        margin: 0;
    }
    .newsLetter .email-input button{
        width: 100px;
        height: 35px;
        margin: 0;
    }
}