.Login-signup-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 218, 201, 0.663);
}
.login-signup{
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(39, 38, 38, 0.252) ;
}
.login-signup *{
    margin: 5px;
}
.login-signup h1{
    margin: 10px 8px;
    color: rgb(255 114 53);
    padding: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.login-signup .text-input{
    margin: 8px 30px;
    height: 40px;
    outline: none;
    padding: 3px 10px;
}
.login-signup .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.login-signup button{
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: rgb(255 114 53);
    border: none;
    border-radius: 30px;
    margin: auto;
    color: white;
    cursor: pointer;
}
.login-signup p{
    font-size: 14px;
    margin: 10px;
}
.login-signup p span{
    color: rgb(255 114 53);
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:500px){
    .Login-signup-container{
        height: 500px;
    }
}